<!doctype html>
<title>My application</title>
  <h1>Hello, World!</h1>
  <p> Result is {{result}} Enter an array of elements using yaml format in the first form.</br>The second form accepts a single element.</br>
  The third element accepts a single element too. </br>The value entered in the second form multiplied with the first form values and is looked
  if one of them equals the third form value.</br>If it is found then the result is true.</br>An example input for the first form is:</br>
  - 1</br>- 2</br>- 3</br>- 4</p>
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
